# Build stuff
bin/
bin/*
obj/
obj/*

# Dependencies
cpr/
cpr/*

# Test directories
.default/
.default/*
.templates/
.templates/*
.test/
.test/*
.upload/
.upload/*


# Other directories
Mod-Library/
Mod-Library/*
Profile/
Profile/*
Saves/
Saves/*

# Files
settings.tsv
